<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trm.trmclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.trm.trmclient.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity android:name="com.trm.trmclient.View.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.trm.trmclient.View.SignInActivity"
            android:label="@string/title_activity_sign__in" >
        </activity>
        <activity
            android:name="com.trm.trmclient.View.SignUpActivity"
            android:label="@string/title_activity_sign__up" >
        </activity>
        <activity
            android:name="com.trm.trmclient.View.DashboardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.trm.trmclient.View.CreateTourActivity"
            android:label="@string/title_activity_create_tour" >
        </activity>
    </application>

</manifest>